body {
  background-color: powderblue;
  padding-bottom: 100px;
}

h1 {
  font-size: 75px;
  text-align: center;
  margin-top: 30px;
  padding-top: 50px;
}

h2 {
  font-size: 20px;
  text-align: center;
  color: #777777;
}

h3 {
  font-size: 30px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h4 {
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

p {
  text-align: left;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img {
  height: 100%;
}

footer {
  position: fixed;
  height: 70px;
  bottom: 0;
  width: 100%;
  background-color: #A9A9A9;
}

.footer-content {
  margin-top: auto;
  margin-bottom: auto;
  height: 50%;
}

.bg-primary {
  background-color: #0000ff !important;
}

.navbar-brand {
  height: 50px;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
  color: #ffffff;
}

.navbar-nav>li {
  padding-left: 30px;
  padding-right: 30px;
}

.center {
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.diagrams {
  column-count: 3;
  column-gap: 1em;
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.pdf {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}